.poemContainer {
    position: absolute;
    top:0;
    right: 0;
    max-width: 30vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x:none;
    margin-right:2;
    background-color: rgb(76, 39, 25);
    border-left-style: dashed;
    
}

.poemContainer h1, h2{
    font-style: 'Press Start 2P';
    margin:auto;
    margin-top: 4%;
    text-align: center;
    width: 100%;
    font-size: calc(10px + 6 * ((100vw - 420px) / 680));
}
.poemLines {
    margin:auto;
    text-align: center;
    width: 90%;
    line-height: 1.6;
    font-size: calc(5px + 6 * ((100vw - 420px) / 680));
    color:white;
}